
<H>Movie Search Result</H>
<p>The name of the movie you selected is  <%= @result.title %>.  <%= @result.director%> was the director and it was released in <%=@result.year%>.
</p>
<p> Plot</p>
<p>  <%= @result.plot %> </p>

<p>Here is a random of the words you searched for.</p>

<p>They may or may not have to do with the movie.</p>
<img src= "<%= @movieimage%>">


